
{% load staticfiles %}
<!doctype html>
<html>
<head>
<title>Talker</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<script>
  var my = new Audio();
  my.src="../static/audio/my.m4a";
  var please = new Audio();
  please.src="../static/audio/please.m4a";
  var that = new Audio();
  that.src="../static/audio/that.m4a";
  var and = new Audio();
  and.src="../static/audio/and.m4a";
  var what = new Audio();
  what.src="../static/audio/what.m4a";
  var a = new Audio();
  a.src="../static/audio/a.m4a";
  var there = new Audio();
  there.src="../static/audio/there.m4a";
  var i = new Audio();
  i.src="../static/audio/i.m4a";
  var we = new Audio();
  we.src="../static/audio/we.m4a";
  var are = new Audio();
  are.src="../static/audio/are.m4a";
  var is = new Audio();
  is.src="../static/audio/is.m4a";
  var were = new Audio();
  were.src="../static/audio/were.m4a";
  var was = new Audio();
  was.src="../static/audio/was.m4a";
  var you = new Audio();
  you.src="../static/audio/you.m4a";
  var they = new Audio();
  they.src="../static/audio/they.m4a";
  var play = new Audio();
  play.src="../static/audio/play.m4a";
  var like = new Audio();
  like.src="../static/audio/like.m4a";
  var work = new Audio();
  work.src="../static/audio/work.m4a";
  var have = new Audio();
  have.src="../static/audio/have.m4a";
  var feel = new Audio();
  feel.src="../static/audio/feel.m4a";
  var read = new Audio();
  read.src="../static/audio/read.m4a";
  var more = new Audio();
  more.src="../static/audio/more.m4a";
  var stop = new Audio();
  stop.src="../static/audio/stop.m4a";
  var it = new Audio();
  it.src="../static/audio/it.m4a";
  var he = new Audio();
  he.src="../static/audio/he.m4a";
  var want = new Audio();
  want.src="../static/audio/want.m4a";
  var come = new Audio();
  come.src="../static/audio/come.m4a";
  var go = new Audio();
  go.src="../static/audio/go.m4a";
  var say = new Audio();
  say.src="../static/audio/say.m4a";
  var color = new Audio();
  color.src="../static/audio/color.m4a";
  var help = new Audio();
  help.src="../static/audio/help.m4a";
  var she = new Audio();
  she.src="../static/audio/she.m4a";
  var dont = new Audio();
  dont.src="../static/audio/dont.m4a";
  var eat = new Audio();
  eat.src="../static/audio/eat.m4a";
  var make = new Audio();
  make.src="../static/audio/make.m4a";
  var need = new Audio();
  need.src="../static/audio/need.m4a";
  var drink = new Audio();
  drink.src="../static/audio/drink.m4a";
  var turn = new Audio();
  turn.src="../static/audio/turn.m4a";
  var put = new Audio();
  put.src="../static/audio/put.m4a";

  //TODO create a phrase bar where user adds words to a sentence
</script>
</head>
<body>
<h1>Talker</h1>
<p>Click the picture to hear a word.</p>
<p>
  <!--<a href="#" onmousedown="help.play()"><img src="{% static 'images/help.jpg' %}" alt="help" height="400"/></a>-->
  <!--<a href="#" onmousedown="come.play()"><img src="{% static 'images/come.jpg' %}" alt="come" height="400"/></a>-->
  {% for img in images %}
    <a href="#" onmousedown={{img.click}}> <img src=" {% static img.source%}" height="300px" /></a>
  {% endfor %}

</p>
</body>
</html>
